
<mat-card class="card">
    <div class="header">
        <h2 class="title">Novo Atendimento</h2>
        <span class="buttons">
            <button (click)="copy()" mat-icon-button color="primary"><mat-icon>file_copy</mat-icon></button>
            <button (click)="clear($event.target)" mat-icon-button color="accent"><mat-icon>clear</mat-icon></button>
        </span>
    </div>

    <label class="name" for="name">Nome</label>
    <input (keyup)="selectedInput($event.target)" type="text" id="name" autocomplete="off">

    <label for="exams">Exames</label>
    <textarea id="exams" autocomplete="off"></textarea>

    <select (click)="generateInputs($event.target)">
        <option *ngFor="let item of dataSelect" value={{item[0]}}>{{item[0]}}</option>
    </select>

    <div class="complements">
        <div *ngFor="let item of dataComplements; let i = index">
            <span *ngIf="item[0] == 'checkbox'">
                <input style="width: 20px;" id={{item[1]}} type={{item[0]}}>
                <label for={{item[1]}}>{{item[1]}}</label>
            </span>
            <span *ngIf="item[0] == 'input'">
                <label class={{item[2]}} for={{item[1]}}>{{item[1]}}</label>
                <input (keyup)="selectedInput($event.target)" type={{item[0]}} id={{item[2]}} autocomplete="off">
            </span>
        </div>
    </div>

</mat-card>